
/* links ********************************************/
a:link
{
    color: #1010C6;
}
a:hover
{
    color: #0088FF;
}
a:active
{
}
a:visited
{
    color: #00AA00;
}

/* predefined classes (alphabetically) *************/

body
{
    color: #444444; /* dark grey text */
    background-color: #FFFFFF;
    font-family: Verdana, Arial, Geneva, Sans-Serif;
    font-size: 12px;
    line-height: 20px;
    margin: 30px;
}

.archive
{
    background-image: url("http://james-ingram-act-two.de/moritz/images/archiveBackground.png");
}

body.body_oldPage /* used for pages which were in website 2005 */
{
    color: #202020; /* dark grey text */
    background-color: #F8F8F8;
}

div.note /* a note in a blue frame */
{
    font-size: 8.25pt;
    line-height: 150%;
    padding: 10px 20px 10px 20px; 
    border: 1px solid #1010C6
}

div.redNote /* a note in a red frame */
{
    font-size: 8.25pt;
    line-height: 150%;
    padding: 10px 20px 10px 20px; 
    border: 1px solid #FF0000;
    margin: 20px 20px 20px 20px;
}

hr.hr_sectionDivider /* should be used with the attribute noshade="noshade" */
{
    border-style: none;
    height: 4px;
    background-color: #1010C6;
}
hr.hrHeight1 /* should be used with the attribute noshade="noshade" */
{
    border-style: none;
    height: 1px;
    background-color: #1010C6;
}

hr.hrHeight2 /* should be used with the attribute noshade="noshade" */
{
    border-style: none;
    height: 2px;
    background-color: #1010C6;
}

hr.hrHeight3 /* should be used with the attribute noshade="noshade" */
{
    border-style: none;
    height: 3px;
    background-color: #1010C6;
}

ol.olSmall
{
    margin-top: 0px;
    margin-bottom:0px;
    font-size: 10px;
    line-height: 15px;
}

ol.olStandard
{
    margin-top: 0px;
    margin-bottom:0px;
}

p.header1 /* used instead of h1 (which does what it likes with heights)*/
{
    font-family: Lucida Sans Unicode, Verdana, Arial, Geneva, Sans-Serif;
    font-size: 18px;
    font-weight: normal;
    margin-top:14px;
    margin-bottom:14px
}

p.header2 /* used instead of h2 (which does what it likes with heights)*/
{
    font-family: Lucida Sans Unicode, Verdana, Arial, Geneva, Sans-Serif;
    font-size: 16px;
    font-weight: normal;
    margin-top:14px;
    margin-bottom:14px
}

p.header3 /* used instead of h3 (which does what it likes with heights)*/
{
    font-family: Lucida Sans Unicode, Verdana, Arial, Geneva, Sans-Serif;
    font-size: 14px;
    font-weight: normal;
    margin-top:14px;
    margin-bottom:14px
}

p.boldHeader1 /* used for the usual titles of subsections in an article. See e.g. stockhausenSoftware.htm */
{
    font-family: Verdana, Arial, Geneva, Sans-Serif;
    font-size: 13px;
    font-weight: bold;
    margin-top:16px;
    margin-bottom:10px
}
p.boldHeader2 /* used for the usual subtitles of subsections in an article. See e.g. stockhausenSoftware.htm */
{
    font-family: Verdana, Arial, Geneva, Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    margin-top:16px;
    margin-bottom:10px
}

p.boldHeader3 /* used for the usual subtitles of subsections in an article. See e.g. stockhausenSoftware.htm */
{
    font-family: Verdana, Arial, Geneva, Sans-Serif;
    font-size: 11px;
    font-weight: bold;
    margin-top:16px;
    margin-bottom:10px
}

span.spanUnderline
{
    text-decoration: underline; 
}

span.menuItem
{
    background-color: #F4F4F4;
    padding: 1px 5px 1px 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #444444;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
} 


ul.ulSmall
{
    margin-top: 0px;
    margin-bottom:0px;
    font-size: 10px;
    line-height: 15px;
}

ul.ulStandard
{
    margin-top: 0px;
    margin-bottom:0px;
}

/* ji sub-classes (alphabetically) *****************/

.captionLucida /* captionLucida for music examples, diagrams, photos etc. */
{
    font-family: Lucida Sans Unicode, Verdana, Arial, Geneva, Sans-Serif;
    font-size: 9pt;
    line-height: 14pt;
}

.captionStandard /* used in stockhausenSoftware for FreeHand Xtras Examples*/
{
    font-size: 8.25pt;
    line-height: 12pt;
    padding: 0px;
    margin: 0px;
}

.clytemnestrasText /* used for all Clytemnestra's text */
{
    font-family: Verdana;
    font-size: 8pt;
    font-style: italic;
    color: #000000;
}

.indentA
{
    padding: 0pt 0pt 0pt 15pt;
    line-height: 16pt;
}

.indent1
{
    padding: 0pt 0pt 0pt 15pt;
    font-size: 8.25pt;
    line-height: 150%;
    margin: 0px;
}
.indent2
{
    padding: 0pt 0pt 0pt 30pt;
    font-size: 7.5pt;
    line-height: 150%;
    margin: 0px;
}
.indent3
{
    padding: 0pt 0pt 0pt 45pt;
    font-size: 7.5pt;
    line-height: 150%;
    margin: 0px;
}

.indent1Size
{
    font-size: 8.25pt;
    line-height: 150%;
}

.indent2Size
{
    font-size: 7.5pt;
    line-height: 150%;
}

.indent3Size
{
    font-size: 7.5pt;
    line-height: 150%;
}

.motto /* at the very top of a file: quotations etc */
{
    font-size: 7.5pt;
    font-family: Arial, Geneva, Verdana, Sans-Serif;
}

.signature /* at the very bottom of each file. e.g. ji www August 2005; revised November 2008*/
{
    font-family: Arial, Geneva, Verdana, Sans-Serif;
    font-size: 7.5pt;
}



